@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}


@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter Light";
  src: url("../fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter ExtraBold";
  src: url("../fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter Black";
  src: url("../fonts/Inter-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}


.font-light {
  font-family: "Inter Light", sans-serif;

}

.font-extrabold {
  font-family: "Inter ExtraBold", sans-serif;
}

.font-black {
  font-family: "Inter Black", sans-serif;
}

.font-medium {
  font-family: "Inter Medium", sans-serif;
}

.font-bold {
  font-family: "Inter Bold", sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-family: "Inter Bold", sans-serif;
  font-size: 24px;
  font-weight: 800;
}

h3 {
  font-family: "Inter Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

h1 span, h2 span, h3 span {
  color: #00B6F4;
}

p {
  font-size: 20px;
}

button {
  font-size: 16px;
}

a {
  font-size: 24px;
}


@media (max-width: 600px) {
  p {
    font-size: 16px;
  }
}


.multiselect.bright {
  width: 300px;
  cursor: pointer;

}
@media (max-width: 768px) {
  .multiselect.bright {
    width: 100%;
  }
}
.multiselect.bright__tags {
  background: #f5f5f5;
}
.multiselect.bright__tags .multiselect__single {
  background: #f5f5f5;
}
.multiselect.bright__tags .multiselect__input {
  background: #f5f5f5;
}
.multiselect.bright__option--highlight {
  background: #00b6f4;
}
.multiselect.bright__option--highlight:after {
  background: #00b6f4;
}


.multiselect.light {
  width: 230px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .multiselect.light {
    width: 206px;
  }
}
.multiselect.light__tags {
  background: #fff;
}
.multiselect.light__tags .multiselect__single {
  background: #fff;
}
.multiselect.light__tags .multiselect__input {
  background: #fff;
}
.multiselect.light__option--highlight {
  background: #00b6f4;
}
.multiselect.light__option--highlight:after {
  background: #00b6f4;
}
